/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.toolbar_font{
font-size: 16px;
font-weight: 600;
line-height: 20px;
color: white;
}

.overallcontainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: rgb(95, 95, 233);
    height: -webkit-fill-available;
}

.name_font{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: black;
}

.bio_font{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: black; 
}
